html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.App__Container {
	padding: 2rem;
}

.Todo__Item {
	padding: 0;
}

.Create__Button, .Update__Button, .Delete__Button {
	margin-left: 10px;
}
